@import url('/assets/css/reset.css');

/* NAVIGATION STYLES*/
.nav-main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    height: 6rem;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #fff;
}

.nav-main ul {
    
}